*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 26.25em) {
  html {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 75em) {
  .contenedor {
    max-width: 96rem;
  }
}
@media only screen and (max-width: 62em) {
  .contenedor {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 48em) {
  .contenedor {
    max-width: 54rem;
  }
}
@media only screen and (max-width: 36em) {
  .contenedor {
    max-width: 36rem;
  }
}
@media only screen and (max-width: 26.25em) {
  .contenedor {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: #5B5CFF;
  color: white;
  transition: all 0.3s;
}
.btn--primary:hover {
  background-color: #101C2A;
  transition: all 0.3s;
}
.btn--secondary {
  color: #101C2A;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.btn--secondary::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #101C2A;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s;
}
.btn--secondary:hover {
  color: white;
  transition: all 0.3s;
}
.btn--secondary:hover::before {
  left: 0;
  transition: all 0.3s;
}
.btn--secondaryBlue {
  color: #5B5CFF;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.btn--secondaryBlue::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #5B5CFF;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s;
}
.btn--secondaryBlue:hover {
  color: white;
  transition: all 0.3s;
}
.btn--secondaryBlue:hover::before {
  left: 0;
  transition: all 0.3s;
}

.sectionTop {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 36em) {
  .sectionTop {
    flex-direction: column;
    align-items: flex-start;
  }
}
.sectionTop h2 {
  color: #101C2A;
  font-size: 2.2rem;
  font-weight: 600;
}
@media only screen and (max-width: 36em) {
  .sectionTop h2 {
    padding-left: 1.5rem;
  }
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}
.nav__contenedor {
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 26.25em) {
  .nav__contenedor {
    flex-direction: column;
  }
}
.nav__contenedor__logoBox--logo {
  width: 25rem;
}
@media only screen and (max-width: 75em) {
  .nav__contenedor__logoBox--logo {
    width: 15rem;
  }
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu {
    position: absolute;
    background-color: #101C2A;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    transition: all 0.3s;
  }
  .nav__contenedor__menu.active {
    left: 0;
    transition: all 0.3s;
  }
}
@media only screen and (max-width: 26.25em) {
  .nav__contenedor__menu {
    width: 50%;
  }
}
.nav__contenedor__menu--link {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #616B7C;
  font-weight: 500;
  padding: 1rem 1.5rem;
  position: relative;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu--link {
    color: white;
    font-size: 2rem;
  }
}
.nav__contenedor__menu--link:hover {
  color: #101C2A;
  transition: all 0.5s;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu--link:hover {
    color: #818695;
  }
}
.nav__contenedor__menu--link:hover::after {
  transition: all 0.5s;
  border-bottom: 0.2rem solid #5659FE;
}
.nav__contenedor__menu--link::after {
  content: "";
  width: calc(100% - 3rem);
  border-bottom: 0.2rem solid transparent;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav__contenedor__menu--link.active {
  color: #101C2A;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__menu--link.active {
    color: #818695;
  }
}
.nav__contenedor__menu--link.active::after {
  content: "";
  width: calc(100% - 3rem);
  border-bottom: 0.2rem solid #5659FE;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__form {
    order: 4;
    width: 100%;
  }
}
.nav__contenedor__form__box {
  padding-right: 1rem;
  border: 0.1rem solid #E3E7EF;
  border-radius: 1rem;
  overflow: hidden;
}
.nav__contenedor__form__box input, .nav__contenedor__form__box i {
  font-size: 1.2rem;
  color: #6B7890;
}
.nav__contenedor__form__box input {
  outline: 0;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 1rem 0 1rem 1rem;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__form__box input {
    width: calc(100% - 2.5rem);
  }
}
.nav__contenedor__actions {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
@media only screen and (max-width: 26.25em) {
  .nav__contenedor__actions {
    margin-bottom: 1rem;
  }
}
.nav__contenedor__actions--link {
  color: #616B7C;
  font-size: 1.8rem;
  position: relative;
}
.nav__contenedor__actions--link--num {
  position: absolute;
  background-color: #5659FE;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  top: -1.4rem;
  right: -0.8rem;
}
.nav__contenedor__actions--menuBox {
  border: 0.1rem solid #818695;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: none;
}
@media only screen and (max-width: 62em) {
  .nav__contenedor__actions--menuBox {
    display: block;
  }
}
.nav__contenedor__actions--menuBox i {
  color: #818695;
  font-size: 1.8rem;
}

.header {
  margin-top: 10.533rem;
}
@media only screen and (max-width: 75em) {
  .header {
    margin-top: 7.2rem;
  }
}
@media only screen and (max-width: 62em) {
  .header {
    margin-top: 11.2rem;
  }
}
@media only screen and (max-width: 26.25em) {
  .header {
    margin-top: 122.41px;
  }
}
.header__contenedor {
  position: relative;
  height: calc(100vh - 10.533rem);
}
@media only screen and (max-width: 75em) {
  .header__contenedor {
    height: calc(100vh - 7.2rem);
  }
}
@media only screen and (max-width: 62em) {
  .header__contenedor {
    height: calc(100vh - 11.2rem);
  }
}
@media only screen and (max-width: 26.25em) {
  .header__contenedor {
    height: calc(100vh - 122.41px);
  }
}
.header__contenedor__imgFondo {
  background-color: rgba(91, 92, 255, 0.1);
  clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 51% 50%);
  height: 100%;
}
.header__contenedor__box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 26.25em) {
  .header__contenedor__box {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.header__contenedor__box__info {
  font-family: "Poppins", sans-serif;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 62em) {
  .header__contenedor__box__info {
    width: 60%;
  }
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__info {
    width: 100%;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__info {
    text-align: center;
  }
}
.header__contenedor__box__info--top {
  color: #5B5CFF;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__info--top {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__info--top {
    font-size: 1.4rem;
  }
}
.header__contenedor__box__info--titulo {
  color: #101C2A;
  font-size: 5rem;
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__info--titulo {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__info--titulo {
    font-size: 3rem;
    line-height: 4rem;
  }
}
.header__contenedor__box__info--descri {
  color: #818695;
  font-size: 2rem;
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__info--descri {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__info--descri {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__info__btnBox {
    flex-direction: column;
  }
}
.header__contenedor__box__imgBox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 62em) {
  .header__contenedor__box__imgBox {
    width: 40%;
  }
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__imgBox {
    width: 100%;
  }
}
.header__contenedor__box__imgBox img {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 48em) {
  .header__contenedor__box__imgBox img {
    width: 50%;
  }
}
@media only screen and (max-width: 36em) {
  .header__contenedor__box__imgBox img {
    width: 60%;
  }
}

.servicios__contenedor {
  border: 0.1rem solid #E3E7EF;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 4rem;
  gap: 5rem;
}
@media only screen and (max-width: 62em) {
  .servicios__contenedor {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 36em) {
  .servicios__contenedor {
    gap: 2rem;
  }
}
.servicios__contenedor__item {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 62em) {
  .servicios__contenedor__item {
    width: calc(50% - 5.1rem);
  }
}
@media only screen and (max-width: 36em) {
  .servicios__contenedor__item {
    width: 100%;
  }
}
.servicios__contenedor__item i {
  font-size: 3rem;
  color: #5B5CFF;
  margin-right: 2rem;
}
.servicios__contenedor__item__data {
  font-family: "Poppins", sans-serif;
}
.servicios__contenedor__item__data h4 {
  font-size: 1.4rem;
  color: #101C2A;
}
.servicios__contenedor__item__data p {
  color: #818695;
  font-size: 1.2rem;
}
.servicios__contenedor--separador {
  width: 0.2rem;
  background-color: #E3E7EF;
}
@media only screen and (max-width: 62em) {
  .servicios__contenedor--separador.last {
    display: none;
  }
}
@media only screen and (max-width: 36em) {
  .servicios__contenedor--separador.first {
    display: none;
  }
}

.landCategorias {
  font-family: "Poppins", sans-serif;
}
.landCategorias__contenedor__bottom {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.landCategorias__contenedor__bottom__item {
  width: calc(20% - 2.4rem);
  border: 0.1rem solid #E3E7EF;
  border-radius: 1rem;
  padding: 5rem 2rem;
}
@media only screen and (max-width: 75em) {
  .landCategorias__contenedor__bottom__item {
    width: calc(25% - 2.25rem);
  }
}
@media only screen and (max-width: 62em) {
  .landCategorias__contenedor__bottom__item {
    width: calc(33.3333333333% - 2rem);
  }
}
@media only screen and (max-width: 48em) {
  .landCategorias__contenedor__bottom__item {
    width: calc(50% - 1.5rem);
  }
}
@media only screen and (max-width: 36em) {
  .landCategorias__contenedor__bottom__item {
    width: 100%;
  }
}
.landCategorias__contenedor__bottom__item img {
  width: 100%;
  display: block;
}
.landCategorias__contenedor__bottom__item__data {
  margin-top: 4rem;
}
.landCategorias__contenedor__bottom__item__data h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #101C2A;
}
.landCategorias__contenedor__bottom__item__data p {
  font-size: 1.2rem;
  color: #818695;
}

/*# sourceMappingURL=estilos.css.map */
