$font-orbitron: "Orbitron", sans-serif;
$font-poppins: "Poppins", sans-serif;

$color-primary: #5B5CFF;
$color-primary-dark: #101C2A;
$color-gray: #818695;
$color-yellow: #f1c40f;
$border-line: #E3E7EF;

// breakpoints
$bp-extraLarge: 75em; // 16px * 75 = 1200px
$bp-large: 62em; // 16px * 62 = 992px
$bp-medium: 48em; // 16px * 48 = 768px
$bp-small: 36em; // 16px * 36 = 576px
$bp-extraSmall: 26.25em; // 16px * 26.25 = 420px